<hr>
<form class="form-horizontal" name="form" ng-submit="vm.addHolding(form.$valid)" novalidate>
  <div class="form-group">
     <label class="control-label col-sm-2">Symbol*</label>
     <label class="control-label col-sm-2">Shares*</label>
     <label class="control-label col-sm-2">Purchase Price*</label>
     <label class="control-label col-sm-2">Purchase Date</label>
     <label class="control-label col-sm-2">Commission</label>
     <label class="control-label col-sm-2 text-center">&nbsp;</label>
  </div>
  <div class="form-group">
      <div class="col-sm-2">
        <input type="text" class="form-control" id="symbol" ng-model="vm.symbol" placeholder="symbol" autocapitalize="none" required>
      </div>
      <div class="col-sm-2">
      <input type="text" class="form-control" id="shares" ng-model="vm.shares" placeholder="xx.xx" autocapitalize="none" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"  required>
      </div>
      <div class="col-sm-2">
      <input type="text" class="form-control" id="purchasePrice" ng-model="vm.purchasePrice" placeholder="xx.xx" autocapitalize="none" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required>
      </div>
      <div class="col-sm-2">
      <input type="text" class="form-control" id="tradeDate" ng-model="vm.tradeDate" placeholder="yyyy-MM-dd" autocapitalize="none" ng-pattern="^\d{4}-\d{2}-\d{2}$">
      </div>
      <div class="col-sm-2">
      <input type="text" class="form-control" id="commission" ng-model="vm.commission" placeholder="xx.xx" autocapitalize="none" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-sm btn-success" ng-disabled="form.$invalid">add</button>
        <button type="reset" class="btn btn-sm btn-success">reset</button>
      </div>
  </div>
</form>