<h3>Historical Stock Prices</h3>
<div class="container">
<br>
<form class="form-horizontal" name="form" ng-submit="vm.getData(form.$valid)" novalidate>
    <div class="form-group">
      <label for="symbol" class="control-label col-sm-2">Symbol*:&nbsp;</label>
      <div class="col-sm-3">
      <input type="text" class="form-control" id="symbol" ng-model="vm.symbol" placeholder="symbol" autocapitalize="none" required>
      </div>
      <label for="frequency" class="control-label col-sm-2">Frequency:&nbsp;</label>
      <div class="col-sm-3">
        <select ng-model="vm.frequency" class="form-control" id="frequency">
          <option value="daily" selected>daily</option>
          <option value="weekly">weekly</option>
          <option value="monthly">monthly</option>
        </select>
      </div>
    </div>
     <div class="form-group">
      <label for="startDate" class="control-label col-sm-2">Start Date:&nbsp;</label>
      <div class="col-sm-3">
      <input type="text" class="form-control" id="startDate" ng-model="vm.startDate" placeholder="MM-DD-YYYY" autocapitalize="none">
      </div>
       <label for="endDate" class="control-label col-sm-2">End Date:&nbsp;</label>
      <div class="col-sm-3">
      <input type="text" class="form-control" id="endDate" ng-model="vm.endDate" placeholder="MM-DD-YYYY" autocapitalize="none">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Go</button>
      </div>
    </div>
</form>
</div>

<div ng-if="vm.message" class="alert alert-info" role="alert">
  <p>{{ vm.message }}</p>
</div>

<div ng-if="vm.results.length > 0">
<table st-table="vm.results" class="table table-striped">
	<thead>
	<tr>
		<th>Date</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Adjusted Close</th>
    <th>Volume</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="result in vm.results track by $index">
	  <td>{{ result.date | date : 'yyyy-MM-dd'}}</td>
    <td>{{ result.open }}</td>
    <td>{{ result.high }}</td>
    <td>{{ result.low }}</td>
    <td>{{ result.close }}</td>
    <td>{{ result.adjustedClose }}</td>
    <td>{{ result.volume }}</td>
	</tr>
	</tbody>
</table>
</div>
