<div class="panel panel-primary">
<div class="panel-heading">Welcome to Portfolio Tracker</div>
<div class="panel-body">
<br>
<form ng-hide="vm.message" name="login" ng-submit="vm.login()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="username" ng-model="vm.username" autocapitalize="none">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="vm.userPassword" autocapitalize="none">
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>
<br>

<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>

</div> <!-- panel-body end -->
</div> <!-- panel-primary end -->
