<h3>Update Portfolio</h3>
<div ng-if="vm.message" class="alert alert-danger" role="alert">
  <p>{{ vm.message }}</p>
</div>
<form name="form" ng-submit="vm.update(form.$valid)" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine}">
      <label for="name" class="control-label">Name*:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="name" ng-model="vm.portfolio.name" autocapitalize="none" required>
      <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">name is required.</p>
  </div>
  <input type="hidden" id="id" ng-model="vm.portfolio.id">
  <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">OK</button>
  <button type="button" class="btn btn-success" ng-click="vm.cancel()">Cancel</button>
</form>