<div class="panel panel-primary">
<div class="panel-heading">Delayed Stock Quote</div>
<div class="panel-body">
<br>
<form class="form-inline" name="form" ng-submit="vm.getData(form.$valid)" novalidate>
    <div class="form-group">
      <label for="symbols" class="control-label">Symbol*:&nbsp;</label>
      <input type="text" class="form-control" id="symbols" ng-model="vm.symbols" placeholder="symbols" autocapitalize="none" required>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Go</button>
</form>
</div>

<div ng-if="vm.message" class="alert alert-info" role="alert">
  <p>{{ vm.message }}</p>
</div>

<div ng-if="vm.results.length > 0">
<hr>
<table st-table="vm.results" class="table table-striped">
	<thead>
	<tr>
		<th>Symbol</th>
    <th>Name</th>
    <th>Price</th>
    <th>Date</th>
    <th>Time</th>
    <th>Change</th>
    <th>% Change</th>
    <th>Bid</th>
    <th>Ask</th>
    <th>Day High</th>
    <th>Day Low</th>
    <th>52 Week High</th>
    <th>52 Week Low</th>
    <th>Open</th>
    <th>Previous Close</th>
    <th>Volume</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="result in vm.results track by $index">
	  <td>{{ result.symbol }}</td>
    <td>{{ result.name }}</td>
    <td>{{ result.price }}</td>
    <td>{{ result.date | date : 'yyyy-MM-dd'}}</td>
    <td>{{ result.time }}</td>
    <td ng-class="{'price-down': result.change < 0 , 'price-up': result.change >= 0}">{{ result.change }}</td>
    <td  ng-class="{'price-down': result.changePercent.startsWith('-') , 'price-up': result.changePercent.startsWith('+')}">{{ result.changePercent }}</td>
    <td>{{ result.bid }}</td>
    <td>{{ result.ask }}</td>
    <td>{{ result.daysHigh }}</td>
    <td>{{ result.daysLow }}</td>
    <td>{{ result.high52Weeks }}</td>
    <td>{{ result.low52Weeks }}</td>
    <td>{{ result.open }}</td>
    <td>{{ result.previousClose }}</td>
    <td>{{ result.volume }}</td>
	</tr>
	</tbody>
</table>
</div>

</div> <!-- panel-body end -->
</div> <!-- panel-primary end -->