<h3>Register New User</h3>
<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>
<form ng-hide="vm.message" name="register" ng-submit="vm.register()">
   <div class="form-group">
    <label for="username">First Name</label>
    <input type="username" class="form-control" id="firstName" placeholder="firstName" ng-model="vm.firstName" autocapitalize="none">
  </div>
    <div class="form-group">
    <label for="username">Last Name</label>
    <input type="username" class="form-control" id="lastName" placeholder="lastName" ng-model="vm.lastName" autocapitalize="none">
  </div>
    <div class="form-group">
    <label for="username">Email</label>
    <input type="username" class="form-control" id="email" placeholder="email" ng-model="vm.email" autocapitalize="none">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" class="form-control" id="username" placeholder="username" ng-model="vm.username" autocapitalize="none">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="vm.userPassword" autocapitalize="none">
  </div>
  <div class="form-group">
    <label for="password-repeat">Repeat Password</label>
    <input type="password" class="form-control" id="password-repeat" placeholder="Password" ng-model="vm.userPasswordRepeat" autocapitalize="none">
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>

