<div class="panel panel-primary">
<div class="panel-heading">Register New User</div>
<div class="panel-body">
<br>
<form ng-hide="vm.message" name="form" ng-submit="vm.register(form.$valid)" novalidate>
   <div class="form-group">
    <label for="firstName">First Name*</label>
    <input type="text" class="form-control" id="firstName" placeholder="firstName" ng-model="vm.firstName" autocapitalize="none" required>
  </div>
    <div class="form-group">
    <label for="lastName">Last Name*</label>
    <input type="text" class="form-control" id="lastName" placeholder="lastName" ng-model="vm.lastName" autocapitalize="none" required>
  </div>
    <div class="form-group">
    <label for="username">Email*</label>
    <input type="email" class="form-control" id="email" placeholder="email" ng-model="vm.email" autocapitalize="none" required>
  </div>
  <div class="form-group">
    <label for="username">Username*</label>
    <input type="text" class="form-control" id="username" placeholder="username" ng-model="vm.username" autocapitalize="none" required>
  </div>
  <div class="form-group">
    <label for="password">Password*</label>
    <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="vm.userPassword" autocapitalize="none" required>
  </div>
  <div class="form-group">
    <label for="password-repeat">Repeat Password*</label>
    <input type="password" class="form-control" id="password-repeat" placeholder="Password" ng-model="vm.userPasswordRepeat" autocapitalize="none" required>
  </div>
  <button type="submit" class="btn btn-success" ng-disabled="form.$invalid">Register</button>
</form>
<br>
<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>

</div> <!-- panel-body end -->
</div> <!-- panel-primary end -->

