<nav ng-controller="LoginController as vm" class="navbar navbar-default navbar-fixed-top" ng-init="vm.init()">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">
       <img src="/images/pt.png" height="25" alt="Portfolio Tracker App"/>
    </span>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li ng-class="vm.isActiveTab('')" class="active"><a href="#/">Home</a></li>
        <li ng-class="vm.isActiveTab('lookup')"><a href="#/lookup">Lookup</a></li>
       <li ng-class="vm.isActiveTab('quote')"><a href="#/quote">Quote</a></li>
       <li ng-class="vm.isActiveTab('histQuote')"><a href="#/histQuote">Historical Quote</a></li>
       <li ng-class="vm.isActiveTab('chart')"><a href="#/chart">Chart</a></li>
       <li ng-class="vm.isActiveTab('portfolio') || vm.isActiveTab('holdings') " ng-if="vm.isLoggedIn()"><a href="#/holdings">Portfolio</a></li>
     </ul>
     <ul ng-if="!vm.isLoggedIn()" class="nav navbar-nav navbar-right">
      <li><a href="#/login"><button type="button" class="btn btn-sm btn-success">Login</button></a></li>
      <li><a href="#/register"><button type="button" class="btn btn-sm btn-success">Register</button></a></li>
    </ul>
    <ul ng-if="vm.isLoggedIn()" class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">{{ vm.loggedInUser }}</p></li>
      <li><button class="navbar-btn btn-sm btn-success" ng-click="vm.logout()">Logout</button></li>
    </ul>
   </div>
 </div>
</nav>
